.messages
  .upper-message
    .upper-message__user-name
      = chat.user.name
    .upper-message__date
      = chat.created_at
  .lower-message
    .lower-message__content
      = chat.text
  - if chat.image.present?
    .lower-message__image
      = image_tag chat.image.url
