.wrapper {
  // background-color: red;
  display: flex;
}

.side-bar {
  width: 300px;
  height: 1000px;
}

.side-bar .header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  line-height: 100px;
}

.header__name {
  display: inline-block;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
}

.header__lists {
  display: inline-block;
  float: right;
}

.list {
  display: inline-block;
  color: white;
}

.ul {
  list-style: none;
}

.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  color: #FFFFFF;
  padding: 0 20px;
  // position: relative;
}

.group {
  box-sizing: border-box;
  padding: 20px 0 40px;
}

.group__name1 {
  color: #FFFFFF;
  font-size: 15px;
  padding-bottom: 40px;
}

.chat__name1 {
  color: #FFFFFF;
  font-size: 11px;
}

.group__name2 {
  color: #FFFFFF;
  font-size: 15px;
  padding-bottom: 40px;
}

.chat__name2 {
  color: #FFFFFF;
  font-size: 11px;
}

.chat {
  width: calc(100% - 300px);
}

.chat .header {
  box-sizing: border-box;
  height: 100px;
  padding: 0 40px;
}

.left-header {
  float: left;
}

.left-header__title {
  color: #333;
  font-size: 20px;
  margin-top: 35px;
}

.left-header__members {
  display: flex;
  color: #999;
  font-size: 12px;
  margin-top: 15px;
}

.right-header {
  border: 1px solid;
  color: #38AEF0;
  float: right;
  height: 40px;
  line-height: 40px;
  margin-top: 28px;
  padding: 0 20px;
}

.messages_group {
  background-color: #FAFAFA;
  box-sizing: border-box;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
  padding: 46px 40px 0;
}

.messages {
  margin-bottom: 40px;
}

.upper-message{
  display: flex;
}

.lower-message {
  margin-top: 10px;
}

.form {
  background-color: #DDDDDD;
  box-sizing: border-box;
  height: 90px;
  padding: 20px 50px 20px 40px;
  bottom: 0;
}

.form__message {
  float: left;
  height: 50px;
  width: calc(100% - 150px);
}

.form__mask {
  float: left;
  height: 50px;
  padding-right: 10px;
}

.form__submit {
  background-color: #38AEF0;
  border: none;
  color: #fff;
  float: right;
  font-size: 16px;
  height: 50px;
  padding: 0 30px;
}