.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
    .header {
      background-color: $side-bar__header;
      height: 100px;
      padding: 0 20px;
      line-height: 100px;
        &__name {
          display: inline-block;
          font-size: 16px;
          color: $color_white;
          font-weight: bold;
          float: left;
        }
        &__lists {
        display: inline-block;
        float: right;
        color: $color_white;;
          .list {
            display: inline-block;
            color: $color_white;
          }
        }
    }
}

.ul {
  list-style: none;
}

.groups {
  background-color: $groups;
  height: calc(100vh - 100px);
  color: $color_white;
  padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $color_white;
        font-size: 15px;
        text-align: left;
      }
      &__chat {
        color: $color_white;
        font-size: 11px;
        float: left;
      }
    }
}

.chat {
  width: calc(100% - 300px);
    .header {
      box-sizing: border-box;
      height: 100px;
      padding: 0 40px;
      .left-header {
        float: left;
        &__title {
          color: $chat__header__left-header__title;
          font-size: 20px;
          margin-top: 35px;
          .left-header__members {
            display: flex;
            color: $chat__header__left-header__title__left-header__members;
            font-size: 12px;
            margin-top: 15px;
          }
        }
      }
      .right-header {
        border: 1px solid;
        color: $chat__header__right-header;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
      }
    }
    .messages_group {
      background-color: $chat__header__messages_group;
      box-sizing: border-box;
      height: calc(100vh - 100px - 90px);
      overflow: scroll;
      padding: 46px 40px 0;
      .messages {
        margin-bottom: 40px;
        color: $font-awsome_color;
        .upper-message {
          display: flex;
          &__user-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999;
            font-size: 12px;
            padding-left: 10px;
            margin-top: 2px;
          }
        }
        .lower-message {
          margin-top: 10px;
          float: left;
          &__content {
            color: #434a54;
            font-size: 14px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .form {
      js-form {

      }
        background-color: $form;
        box-sizing: border-box;
        height: 90px;
        padding: 20px 50px 20px 40px;
        bottom: 0;
        &__message {
          float: left;
          height: 50px;
          border: none;
          padding: 0 10px;
          box-sizing: border-box;
          width: calc(100% - 150px);
        }
        &__mask {
          background-color: $color_white;
          float: left;
          height: 50px;
          padding-right: 10px;
            .file_none {
              display: none;
            }
            .form__mask__image {
              font-size: 20px;
              line-height: 50px;
              color: $font-awsome_color;
            }
        }
        &__submit {
          background-color: $form__submit;
          border: none;
          color: $color_white;
          float: right;
          font-size: 16px;
          height: 50px;
          padding: 0 30px;
        }
      }
}
