$color_white: #FFFFFF;
$side-bar__header: #253141;
$groups: #2f3e51;
$chat__header__right-header: #38AEF0;
$chat__header__messages_group: #FAFAFA;
$chat__header__left-header__title: #333;
$chat__header__left-header__title__left-header__members: #999;
$form: #DDDDDD;
$form__submit: #38AEF0;
$font-awsome_color: #666666;